@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "grotesk-bold";
  src: url("/fonts/SpaceGrotesk-Bold.ttf");
}

@font-face {
  font-family: "grotesk-semibold";
  src: url("/fonts/SpaceGrotesk-SemiBold.ttf");
}

@font-face {
  font-family: "grotesk-medium";
  src: url("/fonts/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "grotesk-light";
  src: url("/fonts/SpaceGrotesk-Light.ttf");
}

@font-face {
  font-family: "fredoka-bold";
  src: url("/fonts/Fredoka-Bold.ttf");
}

@font-face {
  font-family: "fredoka-semibold";
  src: url("/fonts/Fredoka-SemiBold.ttf");
}

@font-face {
  font-family: "fredoka-medium";
  src: url("/fonts/Fredoka-Medium.ttf");
}

@font-face {
  font-family: "fredoka-regular";
  src: url("/fonts/Fredoka-Regular.ttf");
}

@font-face {
  font-family: "fredoka-light";
  src: url("/fonts/Fredoka-Light.ttf");
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* ROOT CONFIG */
@layer base {
  :root {
    --background: rgb(40, 43, 40);
    --foreground: hsl(20, 14.3%, 4.1%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(20, 14.3%, 4.1%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(20, 14.3%, 4.1%);

    --primary: hsl(24, 9.8%, 10%);
    --primary-foreground: hsl(60, 9.1%, 97.8%);

    --secondary: hsl(60, 4.8%, 95.9%);
    --secondary-foreground: hsl(24, 9.8%, 10%);

    --muted: hsl(60, 4.8%, 95.9%);
    --muted-foreground: hsl(25, 5.3%, 44.7%);

    --accent: hsl(60, 4.8%, 95.9%);
    --accent-foreground: hsl(24, 9.8%, 10%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(60, 9.1%, 97.8%);

    --border: hsl(20, 5.9%, 90%);
    --input: hsl(20, 5.9%, 90%);
    --ring: hsl(20, 14.3%, 4.1%);

    --culture-orange: #fe621d;
    --culture-white: #f1f5ed;
    --culture-red: #af3800;
    --culture-blue: #0066ff;
    --culture-gray: #282b28;
    --culture-beige: #cac5bf;
    --culture-green: #00fe66;
    --culture-gray-variant: #2e2f32;
    --digital-art-yellow: #ffb800;
    --irl-event-blue: #66b0ff;
    --digital-music-green: #a4ff49;
    --vinyl-badge-lavender: #c395ff;
    --virtual-event-purple: #ff00f5;
    --apparel-blue: #00ffff;
    --radius: 0.5rem;
  }
  body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(40, 43, 40, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(40, 43, 40, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(40, 43, 40, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#282b28",GradientType=1);
  }
}

@layer utilities {
  .landing-page-glass {
    background: rgba(67, 67, 67, 0.3);
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(90px);
  }
  .gradient-background {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }
  .slick-prev,
  .slick-next,
  .slick-arrow {
    z-index: 1 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 30px !important;
    height: 30px !important;
  }

  .slick-prev {
    left: 0px !important;
  }

  .slick-next {
    right: 0px !important;
  }
}

.rhap_progress-section .rhap_time {
  color: #282b28;
  font-weight: 600;
}

.rhap_progress-bar {
  background-color: #282b28 !important;
}

.rhap_progress-filled {
  background-color: #222222 !important;
}

.rhap_repeat-button {
  color: #282b28 !important;
}

.rhap_main-controls-button {
  color: #282b28 !important;
}

.rhap_volume-button {
  color: #282b28 !important;
}

.rhap_volume-bar {
  background-color: #282b28 !important;
}

.rhap_volume-indicator {
  background-color: #282b28 !important;
}

.rhap_progress-indicator {
  background-color: #282b28 !important;
}

.audio-player {
  background-color: #a4ff49 !important;
}
.audio-player {
  border-bottom-left-radius: 0.375rem; /* Equivalent to rounded-md */
  border-bottom-right-radius: 0.375rem;
  box-shadow: none !important;
}
